{{page-title "Novo Evento"}}
{{page-title "Lista de Eventos"}}

<div class="card-header">
    <div class="d-flex align-items-center">
        <div>Novo Evento</div>
        <div class="flex-fill d-flex justify-content-end">
            <LinkTo @route="events.index" class="btn btn-secondary btn-sm">Voltar</LinkTo>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <p class="m-0 p-0">Preencha os dados abaixo</p>
        </div>
        
    </div>
</div>