{{page-title "Dashboard"}}
<Header>
    <div class="card mt-4">
        <div class="card-header">Dashboard</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p class="m-0 p-0">Bem vindo dashboard</p>
                </div>
            </div>
        </div>
    </div>
</Header>