<Header>
    <div class="card mt-4">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <div>Eventos</div>
                <div class="flex-fill d-flex justify-content-end">
                    <LinkTo @route="events.add" class="btn btn-primary btn-sm">Adicionar</LinkTo>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{outlet}}
        </div>
    </div>
</Header>