/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
.form-login {
  margin: 0 auto;
  width: 250px;
}

.form-login h1 {
  font-size: 24px;
}

.form-login h2 {
  font-size: 18px;
}

header {
  background-color: #f2f2f2;
}

header .logo img {
  height: 40px;
}

header .menu a {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}

header .menu a:hover {
  color: rgb(230 109 57);
  text-decoration: none;
}
